.main-container {

    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

.main-container img:hover {
    width: 120px;
    cursor: pointer;
}

.main-container figcaption {
    font-weight: 600;
    font-size: 1rem;
}


.form-container {

    position: relative;
    display: flex;
    justify-content: center;

}

form input {
    margin-bottom: 20px;
}


.alert {
    display: none;
}



























@media only screen and (max-width: 600px) {

    #my-form {
       
        width: 100%;
    }
  }