body {
    /* background: linear-gradient(to right, #c9d6ff, #e2e2e2); */
    background-color: #d8e8ec;
   
}

.logged-in {
    display: none;
}

.navbar {
    /* display: none; */
    justify-content: space-between;
}


.container {
    margin-top: 5%;
    
}

.track-container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}


